*{
    padding: 0;
    margin: 0;
}

:root {
    --color-primary: #393838;
    --color-secondary: #27a2c1;
    --color-tertiary: #4daec7;
    --color-quaternary: #1d75b9;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Poppins", sans-serif;
  }

.toggle{
    display: none;
}

  .header-top {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: var(--color-primary);
    padding: 10px;
  }

  .header-top .phone {
    display: flex;
    align-items: center;
  }

  .header-top .phone p {
    padding-left: 20px;
  }

  ul {
    list-style-type: none;
  }
  .social-media ul li i {
    width: 30px;
    height: 30px;
    line-height: 31px;
    border-radius: 50px;
    text-align: center;
    font-size: 19px;
    background-color: #cac5c542;
    transition: all 0.3s ease;
  }
  .social-media ul li i:hover {
    background: #858383;
  }
  .social-media ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  nav {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .nav-links {
    margin-right: 0;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-transform: uppercase;
  }
  .nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
  }

  .logo img{
    width: 60%;
  }

.background{
    width: 100%; 
    height: 83vh;
    background-image: url(../image/background\ login.png) ; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
}

.login-input{
    width: 100%;
    height: 60vh;
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    margin: 5% 35% 10% 35%;
    border-radius: 15px;
}



@media (max-width: 376px) {

    .toggle{
        height: 100%;
        padding: 0 7%;
        display: flex;
        font-size: 3rem;
        align-items: center;
    }

    .ferme{
        display: none;
    }
    .ouvre{
        display: block;
    }

    .open .toggle .ouvre{
        display: none;
    }

    .open .toggle .ferme{
        display: block;
        color: white;
        z-index: 1;
    }

    .open .nav-links{
        display: block;
        background-color: black;
        position: fixed;
        height: 100vh;
        width: 100%;
        transform: translateX(0); 
    }

    .nav-links{
        top: 0;
        background-color: black;
        position: fixed;
        height: 100vh;
        width: 100%;
        transform: translateX(100%);
        transition: 0.5s;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 76px;
        line-height: 5; 
    }

    .nav-links ul li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 16px;
    }

    .logo img {
        width: 60%;
    }

    .header-top{
        display: none;
    }

    .login-input{
        height: 54vh;
        margin: 10% 5% 5% 5%;
    }
}